{% load static %}
{#<div id="layoutSidenav_nav">#}
{#    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">#}
{#        <div class="sb-sidenav-menu">#}
{#            <div class="nav">#}
{#                <div class="sb-sidenav-menu-heading">Navegacion</div>#}
{#                <a class="nav-link" href="{% url 'menu' %}">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>#}
{#                    Menu Principal#}
{#                </a>#}
{#                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"#}
{#                   aria-expanded="false" aria-controls="collapseLayouts">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>#}
{#                    Transacciones#}
{#                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                </a>#}
{#                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">#}
{#                    <nav class="sb-sidenav-menu-nested nav">#}
{#                        <a class="nav-link" href="{% url 'venta:lista' %}"><i class="fa fa-shopping-cart"></i> &nbsp;Ventas</a>#}
{#                        <a class="nav-link" href="{% url 'compra:lista' %}"><i class="fas fa-dollar-sign"></i> &nbsp;Compras</a>#}
{#                    </nav>#}
{#                </div>#}
{#                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"#}
{#                   aria-expanded="false" aria-controls="collapsePages">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>#}
{#                    Recursos Humanos#}
{#                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                </a>#}
{#                <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-parent="#sidenavAccordion">#}
{#                    <nav class="sb-sidenav-menu-nested nav">#}
{#                        <a class="nav-link" href="{% url 'empleado:lista' %}"><i class="fa fa-male"></i> &nbsp;Empleados</a>#}
{#                        <a class="nav-link" href="{% url 'cargo:lista' %}"><i class="fas fa-laptop-house"></i> &nbsp;Cargos</a>#}
{#                    </nav>#}
{#                </div>#}
{##}
{#                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecomercial"#}
{#                   aria-expanded="false" aria-controls="collapsecomercial">#}
{#                    <div class="sb-nav-link-icon"><i class="fab fa-amazon-pay"></i></div>#}
{#                    Comercial#}
{#                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                </a>#}
{#                <div class="collapse" id="collapsecomercial" aria-labelledby="headingOne"#}
{#                     data-parent="#sidenavAccordion">#}
{#                    <nav class="sb-sidenav-menu-nested nav">#}
{#                        <a class="nav-link" href="{% url 'cliente:lista' %}"><i class="fas fa-users"></i> &nbsp;Clientes</a>#}
{#                        <a class="nav-link" href="{% url 'proveedor:lista' %}"><i class="fa fa-truck"></i> &nbsp;Proveedor</a>#}
{#                        <a class="nav-link" href="{% url 'producto:lista' %}"><i class="fab fa-amazon"></i> &nbsp;Producto</a>#}
{#                        <a class="nav-link" href="{% url 'servicio:lista' %}"><i class="fas fa-concierge-bell"></i>#}
{#                            &nbsp;Servicio</a>#}
{#                        <a class="nav-link" href="{% url 'categoria:lista' %}"><i class="fa fa-boxes"></i> &nbsp;Categoria</a>#}
{#                        <a class="nav-link" href="{% url 'presentacion:lista' %}"><i class="fab fa-untappd"></i> &nbsp;Presentacion</a>#}
{#                        <a class="nav-link" href="{% url 'gasto:lista' %}"><i class="fas fa-file-invoice-dollar"></i> &nbsp;Gasto</a>#}
{#                        <a class="nav-link" href="{% url 'tipo_gasto:lista' %}"><i class="far fa-keyboard"></i> &nbsp;Tipo de Gasto</a>#}
{#                    </nav>#}
{#                </div>#}
{##}
{#                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsereportes"#}
{#                   aria-expanded="false" aria-controls="collapsecomercial">#}
{#                    <div class="sb-nav-link-icon"><i class="far fa-file-pdf"></i></div>#}
{#                    Reportes#}
{#                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                </a>#}
{#                <div class="collapse" id="collapsereportes" aria-labelledby="headingOne"#}
{#                     data-parent="#sidenavAccordion">#}
{#                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">#}
{#                        <a class="nav-link" href="{% url 'cliente:report' %}"><i class="fas fa-user-clock"></i> &nbsp;Clientes</a>#}
{#                        <a class="nav-link" href="{% url 'proveedor:report' %}"><i class="fas fa-truck-moving"></i> &nbsp;Proveedor</a>#}
{#                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth"#}
{#                           aria-expanded="false" aria-controls="pagesCollapseAuth"> <i class="fas fa-search-dollar"></i> &nbsp;#}
{#                            Compras#}
{#                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                        </a>#}
{#                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"#}
{#                             data-parent="#sidenavAccordionPages">#}
{#                            <nav class="sb-sidenav-menu-nested nav">#}
{#                                <a class="nav-link" href="{% url 'compra:report_total' %}"><i class="fas fa-funnel-dollar"></i> &nbsp;Totales</a>#}
{#                                <a class="nav-link" href="{% url 'compra:report_by_product' %}"><i class="fab fa-amazon"></i>&nbsp; Por Producto</a>#}
{#                            </nav>#}
{#                        </div>#}
{#                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError"#}
{#                           aria-expanded="false" aria-controls="pagesCollapseError"> <i class="fas fa-piggy-bank"></i>  &nbsp;#}
{#                            Ventas#}
{#                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                        </a>#}
{#                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"#}
{#                             data-parent="#sidenavAccordionPages">#}
{#                            <nav class="sb-sidenav-menu-nested nav">#}
{#                                <a class="nav-link" href="{% url 'venta:report_total' %}"><i class="fas fa-funnel-dollar"></i>&nbsp; Totales</a>#}
{#                                <a class="nav-link" href="{% url 'venta:report_by_product' %}"><i class="fab fa-amazon"></i>&nbsp; Producto/Servicio</a>#}
{#                            </nav>#}
{#                        </div>#}
{#                        <a class="nav-link" href="{% url 'inventario:lista' %}"><i class="fas fa-warehouse"></i> &nbsp;Inventario</a>#}
{#                        <a class="nav-link" href="{% url 'gasto:report_total' %}"><i class="fas fa-file-invoice-dollar"></i> &nbsp;Gastos</a>#}
{#                        <a class="nav-link" href="{% url 'devolucion:lista' %}"><i class="fas fa-exchange-alt"></i> &nbsp;Devoluciones</a>#}
{#                    </nav>#}
{#                </div>#}
{#                <a class="nav-link" href="{% url 'database_backup:lista' %}">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>#}
{#                    Respaldos de Base de datos#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="sb-sidenav-footer">#}
{#            <div class="small">Bienvenido:</div>#}
{#            {{ request.user.get_full_name }} <a href="#"><i class="far fa-play-circle text-success"></i> En Linea</a>#}
{#        </div>#}
{#    </nav>#}
{#</div>#}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'menu' %}" class="brand-link">
        <img src="/media/imagen.PNG" alt="AdminLTE Logo" class="brand-image img-circle elevation-4"
             style="opacity: .8">
        <span class="brand-text font-weight-light">{{ empresa.nombre }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.first_name }}</a>
                <a href="#" class="d-block">{{ request.user.last_name }}</a>
                <a href="#"><i class="far fa-play-circle text-success"></i> En Linea</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{% url 'menu' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Menu pricipal
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-lock"></i>
                        <p>
                            Seguridad
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'user:lista' %}" class="nav-link">
                                <i class="fas fa-user-shield"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user:groups' %}" class="nav-link">
                                <i class="fas fa-user-lock"></i>
                                <p>Grupos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-database"></i>
                                <p>Respado de datos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-bezier-curve"></i>
                        <p>
                            Gestion
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'cliente:lista' %}" class="nav-link">
                                <i class="fas fa-users"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'proveedor:lista' %}" class="nav-link">
                                <i class="fas fa-user-astronaut"></i>
                                <p>Proveedor</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'producto:lista' %}" class="nav-link">
                                <i class="fas fa-tshirt"></i>
                                <p>Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'material:lista' %}" class="nav-link">
                                <i class="fas fa-hat-cowboy-side"></i>
                                <p>Material</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'categoria:lista' %}" class="nav-link">
                                <i class="fab fa-buffer"></i>
                                <p>Categoria</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'presentacion:lista' %}" class="nav-link">
                                <i class="fas fa-mitten"></i>
                                <p>Presentacion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'maquina:lista' %}" class="nav-link">
                                <i class="fas fa-subway"></i>
                                <p>Maquina</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gasto:lista' %}" class="nav-link">
                                <i class="fas fa-hand-holding-usd"></i>
                                <p>Gastos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'asignacion:lista' %}" class="nav-link">
                                <i class="fas fa-hand-holding-usd"></i>
                                <p>Asignacion de Recursos</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-code-branch"></i>
                        <p>
                            Produccion
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'compra:lista' %}" class="nav-link">
                                <i class="far fa-money-bill-alt"></i>
                                <p>Compras</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'venta:lista' %}" class="nav-link">
                                <i class="fas fa-piggy-bank"></i>
                                <p>Ventas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'confeccion:lista' %}" class="nav-link">
                                <i class="fab fa-shirtsinbulk"></i>
                                <p>Confeccion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'reparacion:lista' %}" class="nav-link">
                                <i class="fa fa fa-tools"></i>
                                <p>Reparacion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'alquiler:lista' %}" class="nav-link">
                                <i class="fas fa-donate"></i>
                                <p>Alquiler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'produccion:lista' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Produccion</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-file-alt"></i>
                        <p>
                            Reportes
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Compras</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Stock de productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Proveedores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Materiales</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ventas y Pedidos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Produccion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Perdidas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Entradas / Salidas en produccion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Productos por entregar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="far fa-newspaper"></i>
                        <p>
                            Sitio Web
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'sitio:configurar' %}" class="nav-link">
                                <i class="fas fa-cogs"></i>
                                <p>Configurar Sitio</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="far fa-eye"></i>
                                <p>Ver Sitio web</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>