{% extends 'front-end/sitio/header.html' %}
{% load static %}
{% block container %}
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active nav-menu-link" id="popular-tab" data-toggle="tab" href="#popular"
                   role="tab" aria-controls="popular" aria-selected="true">Ultimos vendidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-menu-link" id="moreven-tab" data-toggle="tab" href="#moreven" role="tab"
                   aria-controls="moreven" aria-selected="false">Por categoria</a>
            </li>
        </ul>
    </div>
    <!-- Barra de navegacion secundaria -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
            <div class="container container-full" id="popular">
                <div class="columns is-centered is-multiline">
                    <div class="column is-full"></div>
                    {% for p in productos %}
                        <div class="column is-half-tablet is-one-third-desktop column-half">
                            <div class="card"><input type="hidden" class="set_venta" value="{{ p.id }}">
                                <input type="hidden" class="set_alquiler" value="{{ p.id }}">
                                <img src="{{ p.imagen }}" alt="">
                                <div class="card-info">
                                    <h4 class="has-text-black has-text-centered has-text-weight-bold"> {{ p.nombre_full }}</h4>
                                    <p class="has-text-centered">{{ p.descripcion }}</p>
                                    <p class="has-text-centered"><strong>Precio de venta:</strong> ${{ p.pvp }}</p>
                                    <p class="has-text-centered"><strong>Precio de Alquiler:</strong> ${{ p.pvp_alq }}
                                    </p>
                                    <p class="has-text-centered"><strong>STOCK: </strong>{{ p.stock }}</p>
                                    <div class="card-buttons">
                                        <button class="btn btn--mini-rounded" name="vender" value="{{ p.id }}"
                                                data-toggle="tooltip"
                                                title="Añadir al carrito"><i class="zmdi zmdi-shopping-cart"></i>
                                        </button>
                                        <p>Los precios aqui mostrados no incluyen IVA</p></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="moreven" role="tabpanel" aria-labelledby="moreven-tab">
            <div class="form-group">
                <h2><label for="categorias" style="color: black"> Busca un categoria: </label></h2>
                <select name="select" id="categorias" class="form-control select2" style="width: 50%">
                    {% for c in categorias %}
                        <option value="{{ c.id }}">{{ c.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <div class="container container-full" id="masvendidos">

            </div>
        </div>
    </div>
{% endblock %}
