{% extends 'front-end/sitio/header.html' %}
{% load static %}
{% block container %}
    <!-- Banner -->
    <div class="banner banner-cover">
        <div class="banner-container ">
            <h1 class="title-cover lead">IJEI</h1>
        </div>
    </div>

    <!-- Barra de navegacion secundaria -->
    <div class="container">
        <nav class="nav">
            <a class="nav-item active has-text-weight-semibold" href="#">Popular</a>
            <a class="nav-item has-text-weight-semibold" href="#">Novedades</a>
            <a class="nav-item has-text-weight-semibold" href="#">Más vendidos</a>
            <a class="nav-item has-text-weight-semibold" href="#">Ofertas</a>
            <a class="nav-item has-text-weight-semibold" href="#">Muy pronto</a>
        </nav>
    </div>
    <!-- Sección de fotografías -->
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full-mobile">
                <div class="columns is-centered is-mobile is-multiline">
                    <!-- 1 Sección de fotografías -->
                    <div id="popular">
                        <div class="column is-half column-full">
                            <div class="card">
                                <span class="price">$89.99</span>
                                <img src="{% static 'sitio_web/img/item-1.png' %}">
                                <div class="card-info">
                                    <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt
                                        Orenge
                                        Casual TEE $89.99 </h4>
                                    <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                        100%
                                        cotton.</p>
                                    <div class="card-buttons">
                                        <a href="#" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-shopping-cart"></i></a>
                                        <a href="#" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="producto.html" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-full is-half">
                            <div class="card">
                                <span class="price">$47.50</span>
                                <img src="{% static 'sitio_web/img/item-2.png' %}" alt="">
                                <div class="card-info">
                                    <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt
                                        Orenge
                                        Casual TEE $47.50 </h4>
                                    <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                        100%
                                        cotton.</p>
                                    <div class="card-buttons">
                                        <a href="#" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-shopping-cart"></i></a>
                                        <a href="#" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="producto.html" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-full">
                            <div class="card">
                                <span class="price">$65.95</span>

                                <img src="{% static 'sitio_web/img/item-3.png' %}" alt="">
                                <div class="card-info">
                                    <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt
                                        Orenge
                                        Casual TEE $65.95 </h4>
                                    <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                        100%
                                        cotton.</p>
                                    <div class="card-buttons">
                                        <a href="#" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-shopping-cart"></i></a>
                                        <a href="#" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-favorite-outline"></i></a>
                                        <a href="producto.html" class="btn btn--mini-rounded"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Segunda sección de fotografías -->
            <div class="column is-half is-full-mobile">
                <div class="columns is-mobile is-multiline">
                    <div class="column is-full">
                        <div class="card">
                            <span class="price"><strike>$107</strike> $89.99</span>
                            <img src="{% static 'sitio_web/img/item-4.png' %}" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt Orenge
                                    Casual TEE $89.99 </h4>
                                <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                    100%
                                    cotton.</p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price">$29.99</span>
                            <img src="{% static 'sitio_web/img/item-5.png' %}" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt Orenge
                                    Casual TEE $29.99 </h4>
                                <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                    100%
                                    cotton.</p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price">$34.79</span>
                            <img src="{% static 'sitio_web/img/item-6.png' %}" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt Orenge
                                    Casual TEE $34.79 </h4>
                                <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                    100%
                                    cotton.</p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-full">
        <div class="columns is-centered is-multiline">
            <div class="column is-full">
                <div class="separator"></div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop column-half">
                <div class="card card-second">
                    <img class="card-second-image" src="{% static 'sitio_web/img/lookbook-men.png' %}" alt="">
                    <div class="card-second-body --text-right">
                        <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para hombres</h1>
                        <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum labore quae reiciendis, corrupti debitis dicta
                        </p>
                        <div>
                            <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                        </div>
                        </p>


                    </div>
                </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop column-half">
                <div class="card card-second">
                    <img class="card-second-image" src="{% static 'sitio_web/img/lookbook-women.png' %}" alt="">
                    <div class="card-second-body --text-right">
                        <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para Mujeres</h1>
                        <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum labore quae reiciendis, corrupti debitis dicta
                        </p>
                        <div>
                            <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card card-second">
                    <img class="card-second-image" src="{% static 'sitio_web/img/lookbook-child.png' %}" alt="">
                    <div class="card-second-body --text-right">
                        <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para Niños</h1>
                        <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum labore quae reiciendis, corrupti debitis dicta
                        </p>
                        <div>
                            <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}