{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>N° Documento</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>

        {% for dato in list %}
            <tr>
                <td>{{ dato.id }}</td>
                <td>{{ dato.nombres }}</td>
                <td> {{ dato.get_documento_display }}</td>
                <td> {{ dato.numero_documento }}</td>
                <td> {{ dato.correo }}</td>
                <td> {{ dato.telefono }}</td>
                <td> {{ dato.direccion }}</td>
                <td><a type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                       title="Editar Datos"
                       href="{% url 'proveedor:editar' dato.id %}"><i class="fa fa-edit"></i></a>
                    <a type="button" class="btn btn-danger btn-sm" style="color: white"
                            data-toggle="tooltip"
                            title="Eliminar" rel="del">
                        <i class="fa fa-trash"></i></a>
            </tr>
        {% endfor %}

    </tbody>
{% endblock %}
{% block extra %}
 <script src="{% static 'apps/proveedor/proveedor_list.js' %}"></script>
{% endblock %}