{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th style="width: 5%">Id</th>
        <th style="width: 15%">Nombres</th>
        <th style="width: 15%">Cedula</th>
        <th style="width: 15%">Correo</th>
        <th style="width: 10%">Genero</th>
        <th style="width: 20%">Direccion</th>
        <th style="width: 10%">Telefono</th>
        <th class="text-center" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/cliente/cliente_list.js' %}"></script>
    <script src="{% static 'apps/cliente/cliente.js' %}"></script>
{% endblock %}