{% extends 'front-end/list.html' %}
{% load static %}
{% block elements %}
    <br>
    <div class="row">
        <div class="col-lg-4">
            <label for="fecha"><strong>Rango de Fechas:</strong></label>
            <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm">
        </div>
    </div>
    <br>
{% endblock %}
{% block table %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Empleado</th>
        <th>Total</th>
        <th>N° Factura</th>
        <th>Estado</th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>


    </tbody>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-cart-arrow-down"></i> Detalle de
                        Productos </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="prod-tab" data-toggle="tab" href="#prod"
                                       style="color: black">
                                        <i class="fab fa-amazon"></i>
                                        &nbsp;<strong>Productos</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="serivces-tab" data-toggle="tab" href="#services"
                                       role="tab" aria-controls="services" aria-selected="false"
                                       style="color: black"> <i
                                            class="fas fa-concierge-bell"></i>&nbsp;Servicios</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent" role="tablist">
                                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="prod-tab"
                                     id="prod">
                                    <table class="table" id="tbldetalle_productos">
                                        <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Categoria</th>
                                            <th>Presentacion</th>
                                            <th>Cantidad</th>
                                            <th>Pvp</th>
                                            <th>Subtotal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" aria-labelledby="services-tab"
                                     id="services">
                                    <table class="table" id="tbldetalle_servicios">
                                        <thead>
                                        <tr>
                                            <th>Servicio</th>
                                            <th>Cantidad</th>
                                            <th>Pvp</th>
                                            <th>Subtotal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/venta/venta_list.js' %}"></script>
{% endblock %}
{% block javascript %}

{% endblock %}