{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>

    {% for dato in object_list %}
        <tr>
            <td>{{ dato.id }}</td>
            <td>{{ dato.nombre }}</td>
            <td> {{ dato.descripcion }}  </td>
            <td><a type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                   title="Editar Datos"
                   href="{% url 'presentacion:editar' dato.id %}"><i class="fa fa-edit"></i></a>
                <a type="button" class="btn btn-danger btn-sm" style="color: white"
                        data-toggle="tooltip"
                        title="Eliminar" rel="del">
                    <i class="fa fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
{% block script %}
    <script src="{% static 'apps/presentacion/presentacion_list.js' %}"></script>
{% endblock %}