{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th style="width: 3%">Id</th>
        <th style="width: 20%">Nombre</th>
        <th style="width: 10%">Tipo</th>
        <th style="width: 10%">Categoria</th>
        <th style="width: 10%;">Presentacion</th>
        <th style="width: 8%">Stock</th>
        <th style="width: 15%">Descripcion</th>
        <th style="width: 12%">P. Compra</th>
        <th style="width: 12%">Pvp</th>
        <th style="width: 8%" class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block extra %}
    <script src="{% static 'apps/producto/producto_list.js' %}"></script>
{% endblock %}