{% extends 'front-end/list.html' %}
{% load static %}
{% block elements %}
    <br>
    <div class="row">
        <div class="col-lg-4">
            <label for="fecha"><strong>Rango de Fechas:</strong></label>
            <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm">
        </div>
    </div>
    <br>
{% endblock %}
{% block table %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Lote</th>
        <th>Estado</th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>


    </tbody>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-cart-arrow-down"></i> Detalle de
                        Recursos </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="prod-tab" data-toggle="tab" href="#prod"
                                       style="color: black">
                                        <i class="fab fa-amazon"></i>
                                        &nbsp;<strong>Materiales</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="serivces-tab" data-toggle="tab" href="#services"
                                       role="tab" aria-controls="services" aria-selected="false"
                                       style="color: black"> <i
                                            class="fas fa-concierge-bell"></i>&nbsp;Maquinas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="prend-tab" data-toggle="tab" href="#prendas"
                                       role="tab" aria-controls="prendas" aria-selected="false"
                                       style="color: black"> <i
                                            class="fa fa-tshirt"></i>&nbsp;Prendas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nov-tab" data-toggle="tab" href="#novedades"
                                       role="tab" aria-controls="novedades" aria-selected="false"
                                       style="color: black"> <i
                                            class="fa fa-comment-dots"></i>&nbsp;Novedades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="perd-tab" data-toggle="tab" href="#perdidas"
                                       role="tab" aria-controls="perdidas" aria-selected="false"
                                       style="color: black"> <i
                                            class="fa fa-clipboard-list"></i>&nbsp;Perdidas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent" role="tablist">
                                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="prod-tab"
                                     id="prod">
                                    <table class="table" id="tbldetalle_productos">
                                        <thead>
                                        <tr>
                                            <th>Material</th>
                                            <th>Catg</th>
                                            <th>Calidad</th>
                                            <th>Color</th>
                                            <th>Tipo</th>
                                            <th>Medida</th>
                                            <th>Cantidad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" aria-labelledby="services-tab"
                                     id="services">
                                    <table class="table" id="tbldetalle_servicios">
                                        <thead>
                                        <tr>
                                            <th>Maquina</th>
                                            <th>Serie</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="tab-pane fade" role="tabpanel" aria-labelledby="prend-tab"
                                     id="prendas">
                                    <table class="table" id="tbldetalle_prendas">
                                        <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Categoria</th>
                                            <th>Color</th>
                                            <th>Talla</th>
                                            <th>Cantidad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" aria-labelledby="nov-tab"
                                     id="novedades">
                                    <table class="table" id="tbldetalle_novedades">
                                        <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Novedad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" aria-labelledby="perd-tab"
                                     id="perdidas">
                                    <table class="table" id="tbldetalle_perdidas">
                                        <thead>
                                        <tr>
                                            <th>Material</th>
                                            <th>Catg</th>
                                            <th>Calidad</th>
                                            <th>Color</th>
                                            <th>Tipo</th>
                                            <th>Medida</th>
                                            <th>Cantidad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script src="{% static "apps/asignacion/asignacion_list.js" %}"></script>
{% endblock %}
{% block javascript %}

{% endblock %}