{% extends 'front-end/list.html' %}
{% load static %}
{% block elements %}
    <br>
        <div class="row">
        <div class="col-lg-4">
            <label for="fecha"><strong>Rango de Fechas:</strong></label>
            <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm"></div>
        </div>
    <br>
{% endblock %}
{% block table %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Gasto</th>
        <th>Detalle</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th><strong>Totales:  Esta pagina (Total filtrado)</strong></th>
        <th></th>

    </tr>
    </tfoot>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/gasto/gasto_report_total.js' %}"></script>
{% endblock %}
